@import '../../../../../assets/style/general/common.scss';
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;

  .sidebar{
    display: none;
  }

  .content-wrapper {
    width: 100%;
    background: #fff;
  }

}

:ng-deep router-outlet {
  width: 80vw;
}


@include DesktopScreen{
  :host{
    .container {
      .sidebar{
        display: block;
      }
      .content-wrapper {
        width: 100%;
      }
    }
  }
}
