:root{
  --main-bg-color:#FFD4EC;
  --primary-font-color:#292D32;
  --highlight-color-1:#0075C9;
  --highlight-color-2:#2980C3;
  --dark-blue:#152449;
  --dark-blue-l:#3c4968;
  --gray-1:#BCC4D9;
  --gray-2:#EAF2F9;
  --gray-3:#DDE8ED;
  --gray-4:#DAE0E7;
  --gray-5:#7C7C7C;
  --gray-6:#f4f4f6;

  --gold-color:#F4B63C;
  --text-error:#ee3749;
}
