@import '../../../../../assets/style/general/common.scss';

.all__subjects{
  background: #f9f9f9;

  .titel{
    @include textStyle(28px, 20px, #292D32, bold);
    background: #f9f9f9;
  }
  .subjects__container{
    min-height: 100vh;
    background: #f9f9f9;
    height: 100%;
    width: 100%;
    margin: 1.5rem 0;
  }
}


@include DesktopScreen {
  :host {
    .all__subjects{
      .subjects__container{
        display: flex;
        align-items: center;
        gap: 1rem;
        flex-wrap: wrap;

        ::ng-deep app-subject-card{
          width: 45%;
        }
      }
    }
  }
}
