<div class="tab-menu">
  <div class="tab-header">
    <div [class.active]="activeTab === 1" (click)="selectTab(1)">
      <svg>
        <use href="#document"></use>
      </svg>
      <span>المواد الدراسية</span>
    </div>
    <div [class.active]="activeTab === 2" (click)="selectTab(2)">
      <svg>
        <use href="#document"></use>
      </svg>
      <span>كل التمارين</span>
    </div>
  </div>
  @if(activeTab === 1){
  <div class="tab-content">
    <app-all-subjects></app-all-subjects>
  </div>
  }@else{
  <div class="tab-content">
    <app-all-exercises></app-all-exercises>
  </div>
  }
</div>
