@font-face {
  font-family: 'DINNextLTArabic';
  src: url('assets/fonts/DINNextLTArabic-Regular-4.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

$main-font: 'DINNextLTArabic', sans-serif;

body {
  font-family: $main-font;
}
